{% load static %}
<h1>{{cours.name}}</h1>
<h2>Introduction</h2>
    <p>
        Dans cette exposé nous allons nous intéresser à la notion de valeurs et expressions <strong>booléennes</strong>. En fait une valeur booléenne représente les deux valeurs de la logique : <strong>vrai</strong> et <strong>faux</strong>.Par exemple une valeur booléenne permet de représenter : 
    </p>
    <ul>
        <li>l'état d'un interrupteur : fermé (vrai) ou ouvert (faux);</li>
        <li>la valeur de vérité d'une proposition : vraie ou fausse</li>
    </ul>