{% load static %}
<h1>{{cours.name}}</h1>
<h2>Introduction</h2>
    <p>

    </p>
    <ul>
        <li><strong>la facilité d'apprentissage</strong>;</li>
        <li><strong>idéal pour l'enseignement de la programmation</strong>. La croissance de Python ces dernières années est due à son adoption comme une norme pour l’enseignement de la programmation. Comme nous l’avons déjà dit, de nombreux pédagogues apprécient le langage pour sa syntaxe permettant une initiation aisée aux concepts de base de la programmation;</li>
        <li><strong>Python est bien comme langage de script</strong>;</li>
        <li><strong>une bonne documentation</strong>;</li>
        <li><strong>un très grande nombre de bibliothèques</strong> pour de nombreux besoins;</li>
        <li><strong>la montée de la data science et du machine learning</strong>;</li>
        <li><strong>une bonne communauté</strong> derrière Python;</li>
        <li><strong>la lisibilité du code Python</strong>. Par sa syntaxe, il est plus difficile (mais pas impossible) d'écrire du code illisible en Python. Toutefois, un tel code Python pourrait être plus lisible et propre que son équivalent dans d’autres langages;</li>
        <li><strong>la rapidité de développement</strong>. Un programme Python de 50 lignes peut représenter dans d'autres langages, des programmes de plusieurs centaines de lignes. Ce qui fait qu'en fin de compte, même avec un programmeur Python pas assez rapide, on peut gagner beaucoup de temps au niveau du développement;</li>
        <li><strong>Python tourne sur presque toutes les plateformes</strong>;</li>
        <li><strong>Python n'a pas besoin d'un EDI</strong>. Avec Python, on peut se passer des outils complexes comme Visual Studio ou Eclipse. On peut programmer en Python avec un simple éditeur de texte à coloration syntaxique comme Notepad++;</li>
        <li><strong>Python est ouvert aux autres langages et technologies</strong>. Python a choisi de collaborer avec les autres langages et technologies. On peut intégrer l’interpréteur Python dans son propre programme, et ajouter le langage comme système de Scripting (c’est le cas de Blender) ou plugin (comme avec Sublime Text). On peut appeler du code Python depuis d’autres langages et vice-versa.</li>
    </ul>
