{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{% block title %}Accueil NSI{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'nsi/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'nsi/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'nsi/css/prism.css' %}">
        <script id="MathJax-script" async src="{% static 'nsi/mathjax/tex-chtml.js' %}"></script>
    </head>

    <body class="fond language-python">
        <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
            <a class="nav-brand" href="{{td.cours.get_absolute_url}}">{{td.cours.name}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end" id="MyMenu">
                <ul class="navbar-nav">
                <!--    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="themedrop" data-toggle="dropdown">Travaux dirigés</a>
                    <div class="dropdown-menu">
                        {% for td in cours.td_set.all %}
                            <a class="dropdown-item" href="#">{{ td.name }}</a>
                        {% empty %}    
                        <a class="dropdown-item disabled" href="#">Aucun td</a>
                        {% endfor %}
                    </div>
                    </li>  -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Compléments</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div  class="container contenu py-3 px-5 my-5 min-vh-100">
            {% block content %}{% endblock %}
        </div>

        <nav class="navbar navbar-expand-md bg-light navbar-light justify-content-center"> 
            <span class="navbar-text">
                Lycée Dick Ukeiwé 2021
            </span>
        </nav> 
        <script src="{% static 'nsi/js/jquery.min.js' %}"></script>
        <script src="{% static 'nsi/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'nsi/js/prism.js' %}"></script>
    </body>
</html>